[defaults]
inventory = inventory
remote_user = vagrant
private_key_file = ~/.ssh/id_rsa
host_key_checking = False
timeout = 60
vault_password_file = ~/.ansible_vault_password
collections_paths = /home/vagrant/.ansible/collections:/usr/share/ansible/collections


[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
